html{
    height: 100%;
}
svg {
    transition: 250ms;
}
img{
    transition: 250ms;
}
img:hover{
    transform: scale(1.1);
}
.image-container{
    width: 9%;
    height: auto;
    margin: .5rem 1% .3rem 0;
}
.hoverable:hover svg {
    border-radius: 10%;
    transform: scale(.9);
}
.hoverable:hover svg:active {
    transform: scale(.8);
}
.hoverable:hover{
    background-color: rgba(255,255,255,.23);
}
.carousel{
    width: 100%;
}
#users {
    position: relative;
    display: flex;
    margin-top: 0.6rem;
}
#time {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: .3rem 1rem .3rem .2rem;
}
#user {
    margin-left: 1rem;
    margin-right: 2%;
    background-color: #f3f3f3;
    display:flex;
    flex-direction: column;
}
#users h1 {
    font-size: 15px;
    margin-left: 10px;
}
#users svg {
    margin-left: 10px;
}
svg b {
    margin-bottom: 50px;
}
.table {
    margin-top: 30px;
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 99%;
    color: #717272;
    text-align: left;
    display: table;
}

.table thead {
    color: #9d9d9d;
    font-size: 13.5px;
}

.table thead, .table tbody {
    height: 30px;
}

.table thead {
    text-align: left;
    padding: .5rem .5rem .5rem 0;
    background-color: #f2f2f2;
}
.table thead tr th {
    padding-left: .5rem;
}
.table td {
    padding: .5rem .5rem .5rem .5rem;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
@media only screen and ( min-width:319px) and (max-width: 750px) {
    .mobile-wrap {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mobile-margin {
        margin-top: 1rem;
    }
    .mobile-text {
        font-size: 12px;
    }
    .table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-top: 30px;
        font-family: "Times New Roman", Times, serif;
        border-collapse: collapse;
        width: 98%;
        color: #717272;
        text-align: left;
        overflow-x: scroll;
        white-space: nowrap;
    }
    .image-container{
        width: 19%;
        height: auto;
        margin: .5rem 1% .3rem 0;
    }
}

